<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.mprog.scheduleus" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MyEventsActivity"
            android:label="@string/title_activity_my_events"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.scheduleus.MainActivity" />
        </activity>
        <activity
            android:name=".NewEventActivity"
            android:label="@string/title_activity_new_event"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.scheduleus.MainActivity" />
        </activity>
        <activity
            android:name=".SelectTimesActivity"
            android:label="@string/title_activity_select_times"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.scheduleus.MainActivity" />
        </activity>
        <activity
            android:name=".SelectDaysActivity"
            android:label="@string/title_activity_select_days"
            android:parentActivityName=".NewEventActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.mprog.scheduleus.NewEventActivity" />
        </activity>
    </application>

</manifest>
